@import '../../scss/index.scss';

.header {
  box-sizing: border-box;
  background-color: $header;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;

  .menuOpen {
    display: flex;
    flex-direction: column;
    background-color: $background;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    a {
      margin: 15px 0;
    }

    .close {
      width: 25px;
      height: 25px;
      position: absolute;
      right: 5px;
    }
  }

  .menu {
    display: none;
  }

  .logo_container {
    img {
      width: 80px;
      height: 50px;
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;

    .menu {
      display: flex;
      width: 15%;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      a {
        font-weight: 600;
        color: #fff !important;
        cursor: pointer;
        &:hover {
          color: $highlight-primary !important;
        }
      }
    }
  }

  .mobile_menu {
    display: none;
  }

  .logo_container {
    img {
      width: 180px !important;
      height: 100px !important;
    }
  }
}
