$background: #383838;

$primary: #fff;
$secondary: #d1d1d1;

$highlight-primary: #fca2c0;
$highlight-secondary: #5ddfea;

$border: #86e6e4;
$header: #686868;

$breakpoint-small: 300px;
$breakpoint-medium: 800px;
